# Pandas introduction

In [3]:
# we always begin with...
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
# we can build structures for our data
# Pandas offers the 'DataFrame' structure
d = pd.DataFrame()

In [5]:
# we can import from csv or from Excel straight in to a DataFrame
df = pd.read_excel(io='../Data/sample_data.xls', sheet_name='SP500', index_col='Symbol')
df

,Name,Sector,Price,Price/Earnings,Earnings/Share,52 Week High,52 Week Low
Symbol,,,,,,,
MMM,3M Company,Industrials,222.89,24.31,7.92,259.77,175.490
AOS,A.O. Smith Corp,Industrials,60.24,27.76,1.70,68.39,48.925
ABT,Abbott Laboratories,Health Care,56.27,22.51,0.26,64.60,42.280
ABBV,AbbVie Inc.,Health Care,108.48,19.41,3.29,125.86,60.050
ACN,Accenture plc,Information Technology,150.51,25.47,5.44,162.60,114.820
...,...,...,...,...,...,...,...
XYL,Xylem Inc.,Industrials,70.24,30.94,1.83,76.81,46.860
YUM,Yum! Brands Inc,Consumer Discretionary,76.30,27.25,4.07,86.93,62.850
ZBH,Zimmer Biomet Holdings,Health Care,115.53,14.32,9.01,133.49,108.170
ZION,Zions Bancorp,Financials,50.71,17.73,2.60,55.61,38.430
ZTS,Zoetis,Health Care,71.51,32.80,1.65,80.13,52.000

In [7]:
df.head(9)
df.tail()
df['Name'] # return just that column
whichColumns = ['Name', 'Sector', 'Price'] # a Python list
df[whichColumns] # note the double square brackets

                          Name                  Sector   Price
Symbol
MMM                 3M Company             Industrials  222.89
AOS            A.O. Smith Corp             Industrials   60.24
ABT        Abbott Laboratories             Health Care   56.27
ABBV               AbbVie Inc.             Health Care  108.48
ACN              Accenture plc  Information Technology  150.51
...                        ...                     ...     ...
XYL                 Xylem Inc.             Industrials   70.24
YUM            Yum! Brands Inc  Consumer Discretionary   76.30
ZBH     Zimmer Biomet Holdings             Health Care  115.53
ZION             Zions Bancorp              Financials   50.71
ZTS                     Zoetis             Health Care   71.51

[505 rows x 3 columns]

In [8]:
# we can retrieve individual rows from the dataframe
df.loc['ZION']
# retrieve the rows for YUM, XYL and FB
df.loc[['YUM', 'XYL', 'FB']] # provide a list of the required values

,Name,Sector,Price,Price/Earnings,Earnings/Share,52 Week High,52 Week Low
Symbol,,,,,,,
YUM,Yum! Brands Inc,Consumer Discretionary,76.30,27.25,4.07,86.93,62.85
XYL,Xylem Inc.,Industrials,70.24,30.94,1.83,76.81,46.86
FB,"Facebook, Inc.",Information Technology,171.58,27.90,5.39,195.32,132.44